@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);

$back: #0C1019;
$dark: #712337;
$medium: #A6768C;
$light: #8399A3;
$highlight: #D3E8E6;

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

html {
  /*background-color: #999;*/
  font-family: 'Droid Sans', sans-serif;
  font-size: 16px;
  background-color: $back;
  color: $medium;
}

h1,h2,h3,h4,h5,h6 {
  // font-family: 'Oswald', sans-serif;
  text-align: center;
}

li {
  list-style: none;
}

a {
  color: $light;
  text-decoration: none;
}

a:visited {
  color: $highlight;
}

a:hover {
  color: #fff;
}

p {
  text-align: center;
}

nav {
  display: block;
  background-color: #111;
  background-image: url('../images/smoky.jpg');
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 1em;
  text-transform: lowercase;
  border-left: 3em;

  ul {
    margin: 1em auto;
    padding: 0;
    font-size: 1.5em;
    text-align: center;

    li {
      display: inline-block;
      padding: 0 1em;

    }

    a:hover {
      color: #fff;
      border-bottom: 5px solid #fff;
    }

  }

  svg {
    height: 100px;
    margin: 0 auto;
    fill: #fff;
    display: block;
  }

}


#preload {
  position: fixed;
  background: #fff;
  z-index: 100;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  svg {
    margin: 0 auto;
    // min-width: 100px;
    min-height: 100px;
    height: 50%;
    width: 50%;
    display: block;
    fill: #333;
  }

  h2 {
    text-align: center;
  }

}

#main {
  width: 80%;
  margin: auto;
  background: #712337; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #712337 0%, #0c1019 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#712337), color-stop(100%,#0c1019)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover, #712337 0%,#0c1019 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover, #712337 0%,#0c1019 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover, #712337 0%,#0c1019 100%); /* IE10+ */
background: radial-gradient(ellipse at center, #712337 0%,#0c1019 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#712337', endColorstr='#0c1019',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  min-height: calc(100vh - 3em);
  padding-bottom: 3em;

  #my-projects {
    width: 80%;
    margin: 0 auto;
    text-align: center;

    .project-link {
      padding: 2em;
    }

    > div {
      display: inline-block;
    }

    img {
      max-width: 500px;
      opacity: 0.5;
      -webkit-transition: all 500ms ease-out;
      -moz-transition: all 500ms ease-out;
      -o-transition: all 500ms ease-out;
      transition: all 500ms ease-out;
    }

    h2, h3 {
      -webkit-transition: all 500ms ease-out;
      -moz-transition: all 500ms ease-out;
      -o-transition: all 500ms ease-out;
      transition: all 500ms ease-out;
    }
    li:hover > img {
      opacity: 1;
    }

    li:hover > h2, li:hover > h3 {
      color: $highlight;
    }
  }

  #project {
    font-size: 1.5em;
    .info {
      // display: inline-block;
      vertical-align: top;
      padding-left: 2em;
      max-width: 70%;
      margin: 0 auto;
    }

    h3 {
      margin-top: 2em;
    }
    img {
      width: 100%;
      // display: inline-block;
    }

    ul {
      text-align: center;
    }

    .more-images {
      li {
        display: inline-block;
        max-width: 80%;
      }

      img {
        display: inline-block;
      }
    }
  }
}

.project-link:hover {
  // text-decoration: underline;
  color: $highlight;
  cursor: pointer;
}

#bio, #contact {
  font-size:2.5em;
  padding: 3em;
  p {
    margin-top: 1em;
  }

  ul {
    display: block;
    margin: 2em auto;
    text-align: center;
  }
}

#bio {
  padding: 2em 15%;

  h2 {
    color: $highlight;
  }

  h3 {
    margin-top: 2em;
  }
}

#contact {
  font-size: 3em;

  h3 {
    margin-top: 2em;
  }
}

#contact-list {
  img {
    width: 150px;
  }

    li {
    display: inline-block;
    padding: 1em 1em;
  }
}