@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);

html {
  /*background-color: #999;*/
  font-family: 'Droid Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Oswald', sans-serif;
}

body {
  max-width: 960px;
  margin: auto;
}

li {
  list-style: none;
}

nav ul li {
  display: inline-block;
}

#preload {
  position: fixed;
  background: #bfdddd;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}

#preload h1, #preload h2 {
  text-align: center;
}

#main {

}

.project-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*tagName: "input[type='text']"
*/
