!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}
      %title LYNTCO - Larlyn Tanasap
      = stylesheet_link_tag('all', media: 'all')
      = javascript_include_tag('all')
  %body
    %nav
      %ul
        %li
          %a.navlink{:href => "#projects"} Projects
        %li
          %a.navlink{:href => "#bio"} Bio
        %li
          %a.navlink{:href => "#contact"} Contact
    %h1 LYNTCO

    %div#preload
      %h1 LYNT.CO
      %h2 Loading

    #main
      = yield
    = partial './templates'