!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}
      %title Lynt
      = stylesheet_link_tag('all', media: 'all')
      = javascript_include_tag('all')
  %body
    %nav
      %ul
        %li
          %a{:href => ""} Projects
        %li
          %a{:href => "#bio"} Bio
        %li
          %a{:href => "#contact"} Contact
    %h1 Lynt.co
    #main
      = yield
    = partial './templates'