%script#app-template{:type => "text/template"}
  #my-projects
    %h1 PROJECTS


%script#project-list-template{:type => "text/template"}
  %ul.project-link
    %li
      -# %img{:src => "{{imageThumb}}", :alt => ""}
      %img{:src => lorem.image('300x200'), :alt => ""}
    %li
      %h3 {{ title }}


%script#project-template{:type => "text/template"}
  #project
    -# %img{:alt => "{{ title }}", :src => "{{ imageLarge }}"}
    %img{:alt => "{{ title }}", :src => lorem.image('200x400')}
    .info
      %h2 {{ title }}
      %h3
        %a{:href => "{{ link }}"} {{ link }}
        %p {{ summary }}
        %p {{ detail }}
        %h3 Built with:
        %ul.built-with
          {{#each builtWith }}
          %li {{ this }}
          {{/each }}
        -# {{#if collaborators}}
        -# %h3 Team:
        -# %ul
        -#   {{#each collaborators }}
        -#   %li
        -#     %a{:href => "{{link}}"} {{ name }}
        -#   {{/each }}
        -# {{/if}}


%script#bio-template{:type => "text/template"}
  #bio
    %h2 About me
    %p
      I'm Larlyn Tanasap! I'm a full stack developer.
    %p
      Studied Web Development Immersive at General Assembly Sydney in 2014 and Graphic Design at Design Centre Enmore ending in 2012.
    %p
      In 2013, I worked in Walt Disney World as a Character performer.

    %h3 Skills:
    %ul#skills-list
      - data.skills.skills.each do |skill|
        %li= skill

%script#contact-template{:type => "text/template"}
  #contact
    %h2 Contact me!
    %p You can find me at the following places:
    %ul#contact-list
      %li
        %a{:href => "http://github.com/lyntco"} Github
      %li
        %a{:href => "http://blog.lynt.co"} Blog
      %li
        %a{:href => "http://twitter.com/strawz"} Twitter
    %h3 Want to grab a coffee?
    %p You can reach me at
    %p 0432 871 070
    %p or
    %p strawww@gmail.com!