%script#app-template{:type => "text/template"}
  -# %h1 PROJECTS
  #my-projects


%script#project-list-template{:type => "text/template"}
  %ul.project-link
    %li
      -# %img{:src => "{{imageThumb}}", :alt => ""}
      %img{:src => "{{imageThumb}}", :alt => "{{title}}"}
    %li
      %h2 {{ title }}
      %h3 {{ summary }}


%script#project-template{:type => "text/template"}
  #project
    -# %img{:alt => "{{ title }}", :src => "{{ imageLarge }}"}
    %img{:alt => "{{ title }}", :src => "{{imageLarge}}"}
    .info
      %h2
        %a{:href => "{{ link }}"} {{ title }}
      .text
        %h3 {{ summary }}
        %p {{{ detail }}}
        %h3 Built with:
      %ul.built-with
        {{#each builtWith }}
        %li {{ this }}
        {{/each }}
      {{#if collaborators}}
      %h3 Team:
      %ul
        {{#each collaborators }}
        %li
          %a{:href => "{{link}}"} {{ name }}
        {{/each }}
      {{/if}}
      {{#if images}}
      %ul.more-images
        {{#each images }}
        %li
          = image_tag('{{this}}')
        {{/each }}
      {{/if}}


%script#bio-template{:type => "text/template"}
  #bio
    = image_tag('me.jpg')
    %h2 I'm Larlyn Tanasap!
    %h2 I'm a full stack web developer.
    %p
      I love problem solving and building things - I code, draw, design, make costumes, do photography, among other things. After attending a few Arduino workshops, I now have a keen interest in programming hardware!
    %p
      I'm currently into making single page web apps with JavaScript MVCs and PhoneGap.
    %p
      I studied Web Development Immersive at General Assembly Sydney in 2014 and Graphic Design at Design Centre Enmore ending in 2012.
    %p
      In 2013, I worked in Walt Disney World in Orlando, Florida as a Character performer.

    %h3 Skillset:
    %ul#skills-list
      - data.skills.each do |skill|
        %li= link_to(skill.title, skill.url)
      %li ..And always learning more!
%script#contact-template{:type => "text/template"}
  #contact
    %h2.highlight Contact me!
    %p You can find me at the following places:
    %ul#contact-list
      - data.links.each do |link|
        %li
          %a{:href => link.url, :target=> '_blank'}
            = image_tag(link.title.downcase + ".svg")
    %h3.highlight Want to grab a coffee?
    %p You can reach me at
    %p 0432 871 070
    %p or
    %p &#115;&#116;&#114;&#097;&#119;&#119;&#119;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;!